Flask==2.0.3
transformers==4.18.0
sentence-transformers==2.2.2
torch==1.10.1
sentencepiece==0.1.96
watchtower==3.0.0
dotmap==1.3.30
pytorch-lightning==1.5.10
tqdm==4.64.0
pandas==1.1.5
wandb==0.12.20
ipywidgets==7.7.1
ujson==4.3.0
regex==2022.6.2
num2words==0.5.10
openai==0.8.0
jsonlines==3.1.0
faiss-cpu==1.7.2
git+https://github.com/openai/CLIP.git
awscli==1.24.10
grpc-interceptor==0.14.2
grpcio==1.47.0
grpcio-tools==1.47.0
