pyserini==0.18.0
scikit-learn==1.1.3
simhash==2.1.2
numpy==1.22.0
spacy==3.4.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.1/en_core_web_sm-3.4.1-py3-none-any.whl
faiss-cpu==1.7.3
# this should allow pip to download a ~200MB CPU-only package for torch
# instead of the full 800-900MB version
--extra-index-url https://download.pytorch.org/whl/cpu
torch==1.13.0
