<p id="subheader"></p>
<div id='multimodal' class="image_grid">
    <div class="image_column" id="col0">
        <div class="img_square" id="img0">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img3">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img6">
            <img src="" alt="Mountains" style="width:100%">
        </div>
    </div>
    <div class="image_column" id="col1">
        <div class="img_square" id="img1">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img4">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img7">
            <img src="" alt="Mountains" style="width:100%">
        </div>
    </div>
    <div class="image_column" id="col2">
        <div class="img_square" id="img2">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img5">
            <img src="" alt="Mountains" style="width:100%">
        </div>
        <div class="img_square" id="img8">
            <img src="" alt="Mountains" style="width:100%">
        </div>
    </div>
</div>
<p id="hint_text"></p>