<p id="subheader"></p>
<div id='multimodal' class="image_carousel">
    <div class="image_column" id="img0">
    <div class="img_square">
        <img src="https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="Mountains" style="width:100%">
    </div>
    <p> Image description</p>
  </div>
  <div class="image_column" id="img1">
    <div class="img_square">
          <img src="https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="Mountains" style="width:100%">
    </div>
    <p> Image description</p>
  </div>
  <div class="image_column" id="img2">
      <div class="img_square">
          <img src="https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="Mountains" style="width:100%">
      </div>
      <p> Image description</p>
  </div>
</div>
<p id="hint_text"></p>