<p id="subheader"></p>
<h1 id="title"></h1>
<div class="row">
    <div class="column displaycolumn">
        <p id="paragraphs"> </p>
        <p id="hint_text"></p>
    </div>
    <div class="column displaycolumn" id="multimodal">
        <img id="image" class="img_square" src="https://oat-2-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="Step image">
        <div id="buttons">
            <button class="button" style="display:none"></button>
            <button class="button" style="display:none"></button>
        </div>
    </div>
</div>
