<p id="subheader"></p>

<div class="blog-card">
   <div class="blog-post_img" id="multimodal">
       <img id="image" src="https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="">
   </div>
   <div class="info">
       <div class="title">
        <h1 class="blog-post__title" id="title"><span></span></h1>
       </div>
       <p class="blog-text" id="paragraphs"></p>

        <div id="buttons">
            <button class="button" style="display:none"></button>
            <button class="button" style="display:none"></button>
            <button class="button" style="display:none"></button>
        </div>
        
   </div>
 </div>

 <p class="hint-text" id="hint_text"></p>

<!-- <h1 id="title"></h1>
<div class="row">
    <div class="column displaycolumn">
        <p id="paragraphs"> </p>
        <p id="hint_text"></p>
    </div>
    <div class="column displaycolumn" id="multimodal">
        <img id="image" class="img_square" src="https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg" alt="Step image">
        <div id="buttons">
            <button class="button" style="display:none"></button>
            <button class="button" style="display:none"></button>
        </div>
    </div>
</div> -->