/* ./public/style.css */
* {
  box-sizing: border-box;
  transition: all .3s ease;
}

html, body {
  background: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 20px);
  max-width: 500px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans, sans-serif;
}

h1, .user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
}

.user-count {
  float: right;
}

.chat {
  content: '';
  width: 100%;
  height: calc(100vh - 165px);
  background: white;
  padding: 5px 10px;
  overflow-y: scroll;
}

.chat p {
  margin: 0 0 5px 0;
}

input, button {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  background: #ddd;
}

@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}

.column {
  float: left;
  width: 50%;
  position: relative;
}

#displaybox {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translate(-50%, 25%);
  padding: 20px;
  border-style: double;
  border-radius: 2px;
}

.background {
   background-image: url('https://grill-bot-data.s3.amazonaws.com/images/multi_domain_default.jpg');

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.displaycolumn {
  width: 50%;
  float: left;
  padding: 5px;
}

#hint_text {
  bottom: 0;
  left: 0;
  font-style: italic;
}

.button {
  display:inline-block;
  margin: 10px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.image_column {
  float: left;
  width: 33.33%;
}

.img_square {
  position: relative;
  width: 100%;
}

.img_square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img_square img {
  padding: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Clear floats after image containers */
.image_carousel::after {
  position: relative;
  content: "";
  clear: both;
  display: table;
}

